.menu-top{
  display: flex;
  justify-content: space-between;
  margin-left: 16%;
  margin-right: 16%;
  height: 6em;
  padding: 0em 1em 0em 1em;
}

.menu-top > ul{
  display: flex;
  flex-direction: row;
}

.menu-top > ul > li{
  list-style: none;
  font-weight: bold;
  font-size: 0.9em;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.menu-top > ul > li > a{
  text-decoration: none;
}

.menu-top > ul > li > input{
  background-color: #F5F8F5;
  border: 1px solid #d5d4d4;
  font-weight: bold;
  border-radius: 3px;
  height: 30px;
  width: 250px;
}

.menu-top > ul > li > button{

  border: 1px solid #F1F0F1;
  border-radius: 3px;
  font-weight: bold;
  height: 30px;
  width: 55px;
  margin-left: 5px;
}

.menu-top > ul > li >a > img{
  width: 30px;
  height: 30px;
}
